@import './../../Helpers/style_needs.scss';
@import './../../Helpers/Styles.scss';

.menu_wrapper {
  @include min-cards-design-for-all-content();
  width: fit-content;
  display: none;
  position: absolute;
  // margin-top: 10px;
  cursor: pointer;
}

.show {
  display: block;

  .list_header_paper {
    @include display_flex()
  }
}