$width_90: 90%;
$width_95: 95%;

@mixin screen_wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  //Small screens, laptops
  @media all and (min-width:769px) {
    width: $width_90;
  }

  //iPads, Tablets
  @media all and (min-width:481px) and (max-width:768px) {
    width: $width_95;
  }

  // mobile view
  @media all and (max-width: 480px) {
    width: $width_95;
  }
}

@mixin display_flex ($row: row) {
  display: flex;
  flex-direction: $row;
}